-# coding: UTF-8
%div.container
  %div#main.container-fluid
    %a.btn.btn-inverse.btn-large.pull-right{href: Scene::Edit.path(@scene[:id])} 编辑
    %center
      %h4= @scene[:name]
      %p= @scene[:description]  
    %input#scene_id.data{type: 'hidden', value: @scene[:id]}
    %ul.unstyled
      - @activities.each do |activity|
        %li.activity
          %input.data{type: 'hidden', value: activity[:id]}
          %span.label.label-inverse.role= activity[:role]
          %span.label.action= activity[:action]
          %span.label.label-inverse.content= activity[:content]

      %li.idata
        %input.input-mini.role{type: 'text', name: 'scene[activities][][role]', placeholder: '角色'}
        %input.input-mini.action{type: 'text', name: 'scene[activities][][action]', placeholder: '动作'}
        %textarea.content{name: 'scene[activities][][content]', placeholder: '内容'}
      %li    
        %span#add.btn.btn-inverse 增加

    
  