-# coding: UTF-8
!!!
%html
  %head
    %title= @scene[:name]
    %link{href: '/assets/css/bootstrap.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %link{href: '/assets/css/bootstrap-responsive.css', rel: 'stylesheet', type: 'text/css', media: 'screen'}
    %script{type: 'text/javascript', src: '/assets/js/jquery-2.0.2.min.js'}
    %script{type: 'text/javascript', src: '/assets/js/scene.js'}
  %body
    %div.container
      %div
        %h3= @scene[:name]
        %input#scene_id.data{type: 'hidden', value: @scene[:id]}
        %ul
          - @activities.each do |activity|
            %li.activity
              %span= activity[:role]
              %span= activity[:action]
              %span= activity[:content]
          %li.activity
            %input{type: 'text', name: 'scene[activities][][role]', class: 'input-small role', placeholder: '角色'}
            %input{type: 'text', name: 'scene[activities][][action]', class: 'input-small action', placeholder: '动作'}
            %textarea{name: 'scene[activities][][content]', class: 'content', placeholder: '内容'} 
          %span#add.icon-plus  

    
  